data/n8n_workflows/fin_alchemist_app_backend.json
{
  "name": "fin_alchemist_app_backend",
  "nodes": [
    {
      "parameters": {
        "content": "## Create/Update Exchange",
        "height": 512,
        "width": 1840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        112
      ],
      "id": "d47f6b35-089f-4931-97ce-e8368d66d774",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/exchange",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        368
      ],
      "id": "30129475-b656-451c-bca1-933fd8aa674c",
      "name": "WebhookCreateUpdateExchange",
      "webhookId": "eceeab9c-b96d-4ef0-8616-e10ae0b246a5"
    },
    {
      "parameters": {
        "content": "## List Exchanges (With Pagination)",
        "height": 368,
        "width": 1840,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        640
      ],
      "id": "f5b84d69-1305-44e1-9c4f-17f1f2bc86ba",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/exchange/list",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        640,
        848
      ],
      "id": "f273a3e7-2235-4b44-b348-2c0877c4aea5",
      "name": "WebhookPaginateExchange",
      "webhookId": "eceeab9c-b96d-4ef0-8616-e10ae0b246a5"
    },
    {
      "parameters": {
        "content": "# Exchanges",
        "height": 1120,
        "width": 2144,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6f5b413f-9e3e-4d4b-81a9-da6dc27dd46e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Stocks",
        "height": 1120,
        "width": 3120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1216
      ],
      "id": "c7acb2d5-318a-4e76-8d68-1135cfa2f88e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Create/Update Stock",
        "height": 544,
        "width": 2960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        1296
      ],
      "id": "76ebef7b-c786-4484-8aa2-be04bdbe3e95",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/stock",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        1520
      ],
      "id": "b940d705-8424-4e48-8a46-2b8feefc71e1",
      "name": "WebhookCreateUpdateStock",
      "webhookId": "eceeab9c-b96d-4ef0-8616-e10ae0b246a5"
    },
    {
      "parameters": {
        "jsCode": "const uuid = require(\"uuid\");\n\nlet exchangeToCreate = $input.all()[0].json[\"body\"];\nconst newId = uuid.v4();\nexchangeToCreate[\"exchangeId\"] = newId;\nconst createdAt = new Date();\nexchangeToCreate[\"createdAt\"] = Math.floor(createdAt.getTime());\nexchangeToCreate[\"updatedAt\"] = -1;\n\nreturn [exchangeToCreate];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        368
      ],
      "id": "0854b639-4011-42e4-8d05-b041e79d5832",
      "name": "ModifyExchangePostRequest"
    },
    {
      "parameters": {
        "content": "## List Stocks (With Pagination)",
        "height": 368,
        "width": 2960,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        1872
      ],
      "id": "07627459-6e04-4624-9739-d9b73b0005c0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1744,
        1440
      ],
      "id": "93ecbfea-d015-4202-8bd4-89eefe83c9b5",
      "name": "MergeRequestAndExistingStock"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "a9ed092e-c4d8-41cc-97a3-c94e5ff3caae"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExchangeDoesNotExist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "afef0458-0c41-44ba-935f-a5dd81fe8e8d",
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExchangeDoesExist"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1968,
        1440
      ],
      "id": "9f09fb25-c20e-4378-8f09-33818b9a13d4",
      "name": "StockExistCheck"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "stocks",
        "fields": "symbol,name,exchangeId,status,sector,stockId,createdAt,updatedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2416,
        1344
      ],
      "id": "45dd6222-bbf3-40f5-b366-963640803b18",
      "name": "InsertNewStock",
      "credentials": {
        "mongoDb": {
          "id": "W4HDIaqHm3776QUS",
          "name": "fin_alchemist_app_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "stocks",
        "updateKey": "_id",
        "fields": "symbol,name,exchangeId,status,sector,stockId,createdAt,updatedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2416,
        1536
      ],
      "id": "d2cb8da2-d33b-4db0-8f75-ee9ef6cb0af9",
      "name": "FindAndUpdateExistingStock",
      "credentials": {
        "mongoDb": {
          "id": "W4HDIaqHm3776QUS",
          "name": "fin_alchemist_app_db"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/stock/list",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        640,
        2080
      ],
      "id": "c77a0f86-34e4-4f99-802c-91381e75895d",
      "name": "WebhookPaginateStocks",
      "webhookId": "eceeab9c-b96d-4ef0-8616-e10ae0b246a5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5694f34-0279-42fc-bfd8-0d9de8493a1c",
              "name": "body.itemPerPage",
              "value": "={{ $json.body.itemPerPage }}",
              "type": "number"
            },
            {
              "id": "d5b81d55-5625-4759-ba4f-682dc4ad61df",
              "name": "body.page",
              "value": "={{ $json.body.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        2080
      ],
      "id": "bb854e52-9d64-47cd-8eb8-77e45e33eda1",
      "name": "EditStockListRequest"
    },
    {
      "parameters": {
        "jsCode": "let stocks = []\nfor (const item of $input.all()) {\n  stocks.push(item.json)\n}\n\nreturn {\n  status: 200,\n  success: true,\n  data: stocks\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        2080
      ],
      "id": "ee6b15cf-e9d1-471a-847b-5c5d52c019a3",
      "name": "ProduceStockListResponse"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.all()[0].json;\ndelete result[\"_id\"]\n\nreturn [{\n  \"status\": 200,\n  \"success\": true,\n  \"data\": result\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1440
      ],
      "id": "56340fd1-e25b-4893-a170-1c0b478cc5cc",
      "name": "ProduceStockResponse",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        368
      ],
      "id": "38146d80-b55e-4da0-89c3-ca8380b6a10b",
      "name": "MergeRequestAndExistingExchange"
    },
    {
      "parameters": {
        "collection": "stocks",
        "options": {},
        "query": "={\n     \"symbol\": \"{{ $json.symbol }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1520,
        1520
      ],
      "id": "19a40b04-64df-454c-8c19-c58d23d48fbb",
      "name": "FindStock",
      "credentials": {
        "mongoDb": {
          "id": "W4HDIaqHm3776QUS",
          "name": "fin_alchemist_app_db"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "a9ed092e-c4d8-41cc-97a3-c94e5ff3caae"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExchangeDoesNotExist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "afef0458-0c41-44ba-935f-a5dd81fe8e8d",
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExchangeDoesExist"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1088,
        368
      ],
      "id": "2f523f53-7822-40ec-9a5d-308ba3d71f16",
      "name": "ExchangeExistCheck"
    },
    {
      "parameters": {
        "jsCode": "let exchangeUpdateRequest = $input.all()[0].json\nlet exchangeToUpdate = $input.all()[1].json\n\n// maintained by user: country,name,status\n// maintained by system: exchangeId,createdAt,updatedAt\nexchangeToUpdate[\"name\"] = exchangeUpdateRequest[\"name\"]\nexchangeToUpdate[\"country\"] = exchangeUpdateRequest[\"country\"]\nexchangeToUpdate[\"status\"] = exchangeUpdateRequest[\"status\"]\nconst current = new Date();\nexchangeToUpdate[\"updatedAt\"] = Math.floor(current.getTime());\n\nreturn exchangeToUpdate;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        464
      ],
      "id": "eabcaf06-8ce1-4d7e-b442-bfcbda36baca",
      "name": "UpdateExistingExchangeData"
    },
    {
      "parameters": {
        "jsCode": "let exchangeUpdateRequest = $input.all()[0].json\nlet exchangeToUpdate = $input.all()[1].json\n\n// maintained by user: symbol,name,exchangeId,status,sector\n// maintained by system: id,createdAt,updatedAt\nexchangeToUpdate[\"symbol\"] = exchangeUpdateRequest[\"symbol\"]\nexchangeToUpdate[\"name\"] = exchangeUpdateRequest[\"name\"]\nexchangeToUpdate[\"exchangeId\"] = exchangeUpdateRequest[\"exchangeId\"]\nexchangeToUpdate[\"status\"] = exchangeUpdateRequest[\"status\"]\nexchangeToUpdate[\"sector\"] = exchangeUpdateRequest[\"sector\"]\n\nconst current = new Date();\nexchangeToUpdate[\"updatedAt\"] = Math.floor(current.getTime());\n\nreturn exchangeToUpdate;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        1536
      ],
      "id": "f8044424-2ed0-4f11-b929-98f0acf8abbd",
      "name": "UpdateExistingStockData"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5694f34-0279-42fc-bfd8-0d9de8493a1c",
              "name": "body.itemPerPage",
              "value": "={{ $json.body.itemPerPage }}",
              "type": "number"
            },
            {
              "id": "d5b81d55-5625-4759-ba4f-682dc4ad61df",
              "name": "body.page",
              "value": "={{ $json.body.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        848
      ],
      "id": "7798e607-87ed-4d78-9830-600bc8c310c9",
      "name": "EditExchangeListRequest"
    },
    {
      "parameters": {
        "collection": "exchanges",
        "options": {
          "limit": "={{ $json.body.itemPerPage }}",
          "skip": "={{ ($json.body.page - 1) * $json.body.itemPerPage}}"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1088,
        848
      ],
      "id": "c8d8992d-6aad-45d8-af6d-2b45db482348",
      "name": "FindAndPaginateExchanges",
      "credentials": {
        "mongoDb": {
          "id": "W4HDIaqHm3776QUS",
          "name": "fin_alchemist_app_db"
        }
      }
    },
    {
      "parameters": {
        "collection": "stocks",
        "options": {
          "limit": "={{ $json.body.itemPerPage }}",
          "skip": "={{ ($json.body.page - 1) * $json.body.itemPerPage}}"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1088,
        2080
      ],
      "id": "be79effb-c50f-45ed-8690-b878e4101bf4",
      "name": "FindAndPaginateStocks",
      "credentials": {
        "mongoDb": {
          "id": "W4HDIaqHm3776QUS",
          "name": "fin_alchemist_app_db"
        }
      }
    },
    {
      "parameters": {
        "collection": "exchanges",
        "options": {},
        "query": "={\n     \"name\": \"{{ $json.name }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        640,
        432
      ],
      "id": "793f0474-3d02-47d7-99fd-44094b49599f",
      "name": "FindExchange",
      "credentials": {
        "mongoDb": {
          "id": "W4HDIaqHm3776QUS",
          "name": "fin_alchemist_app_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "exchanges",
        "updateKey": "_id",
        "fields": "name,status,country,exchangeId,createdAt,updatedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1536,
        464
      ],
      "id": "83a7f6b5-4f14-479e-a2a5-ceba712486d5",
      "name": "FindAndUpdateExistingExchange",
      "credentials": {
        "mongoDb": {
          "id": "W4HDIaqHm3776QUS",
          "name": "fin_alchemist_app_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "exchanges",
        "fields": "name,status,country,exchangeId,createdAt,updatedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1536,
        272
      ],
      "id": "69ffc517-b0fc-4a51-85d1-bb73135a6d2c",
      "name": "InsertNewExchange",
      "credentials": {
        "mongoDb": {
          "id": "W4HDIaqHm3776QUS",
          "name": "fin_alchemist_app_db"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.all()[0].json;\ndelete result[\"_id\"]\n\nreturn {\n  \"status\": 200,\n  \"success\": true,\n  \"data\": result\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        368
      ],
      "id": "572cc574-3dd8-4339-a50e-248a653a0719",
      "name": "ProduceExchangeResponseData",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "let exchanges = []\nfor (const item of $input.all()) {\n  exchanges.push(item.json)\n}\n\nreturn {\n  status: 200,\n  success: true,\n  data: exchanges\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        848
      ],
      "id": "30745f14-96aa-423c-937d-1927be5c611d",
      "name": "ProduceExchangeListResponse"
    },
    {
      "parameters": {
        "collection": "exchanges",
        "options": {},
        "query": "={\n     \"exchangeId\": \"{{ $json.exchangeId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        640,
        1584
      ],
      "id": "77de18e2-0fb4-45b9-9f70-49286e3144ba",
      "name": "CheckExchange",
      "credentials": {
        "mongoDb": {
          "id": "W4HDIaqHm3776QUS",
          "name": "fin_alchemist_app_db"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        1520
      ],
      "id": "33017c72-96a6-4b2e-ac21-3d702716cfab",
      "name": "MergeExchangeAndStockRequest"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "cd823bd5-f92f-4e55-a325-3e6658fbcfed"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExchangeDoesExist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c166f39-1c34-4f14-a651-29da04c8ebc4",
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExchangeDoesNotExist"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1088,
        1520
      ],
      "id": "f4ea697b-e8f6-4207-8f2c-28ff5e0969e0",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  status: 400,\n  success: false,\n  message: \"exchange does not exist\",\n  data: null\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1712
      ],
      "id": "aa037068-6e4c-4e84-9de3-75af8237c545",
      "name": "ProduceExchangeDoesNotExistErrorResponse"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1744,
        1712
      ],
      "id": "74335a0e-963e-4ca9-b7e9-27d45c0dcae5",
      "name": "ExchangeDoesNotExistErrorResponse"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2864,
        1440
      ],
      "id": "56052834-32c4-4c81-badc-27cdb3f96952",
      "name": "Respond to Webhook",
      "alwaysOutputData": false,
      "executeOnce": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "const uuid = require(\"uuid\");\n\nlet stockToCreate = $input.all()[0].json[\"body\"];\nconst newId = uuid.v4();\nstockToCreate[\"stockId\"] = newId;\nconst createdAt = new Date();\nstockToCreate[\"createdAt\"] = Math.floor(createdAt.getTime());\nstockToCreate[\"updatedAt\"] = -1;\n\nreturn [stockToCreate];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1520
      ],
      "id": "bfe1a3d5-298b-4a51-8d0a-1b110bb366bc",
      "name": "ModifyStockRequest"
    },
    {
      "parameters": {
        "jsCode": "$input.all().pop()\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        1424
      ],
      "id": "cb26a41e-b3c5-4650-b804-ce04f89310f7",
      "name": "RemoveExchangeData"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1728,
        2080
      ],
      "id": "563376d5-bc45-4979-b63b-2c503f98d7ad",
      "name": "ListStockResponse"
    }
  ],
  "pinData": {
    "WebhookCreateUpdateStock": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.48.0",
            "accept": "*/*",
            "cache-control": "no-cache",
            "postman-token": "307c0bec-9791-4f48-9744-6fa076196658",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "165"
          },
          "params": {},
          "query": {},
          "body": {
            "symbol": "AAPL",
            "name": "Apple Inc.",
            "status": "ACTIVE",
            "exchangeId": "28d32867-4f89-4652-8ac7-4070057f88cb",
            "sector": "High Technology"
          },
          "webhookUrl": "http://localhost:5678/webhook/api/stock",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "WebhookCreateUpdateExchange": {
      "main": [
        [
          {
            "node": "ModifyExchangePostRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookPaginateExchange": {
      "main": [
        [
          {
            "node": "EditExchangeListRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookCreateUpdateStock": {
      "main": [
        [
          {
            "node": "ModifyStockRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModifyExchangePostRequest": {
      "main": [
        [
          {
            "node": "FindExchange",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeRequestAndExistingExchange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeRequestAndExistingStock": {
      "main": [
        [
          {
            "node": "StockExistCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StockExistCheck": {
      "main": [
        [
          {
            "node": "InsertNewStock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateExistingStockData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertNewStock": {
      "main": [
        [
          {
            "node": "ProduceStockResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindAndUpdateExistingStock": {
      "main": [
        [
          {
            "node": "ProduceStockResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookPaginateStocks": {
      "main": [
        [
          {
            "node": "EditStockListRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditStockListRequest": {
      "main": [
        [
          {
            "node": "FindAndPaginateStocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeRequestAndExistingExchange": {
      "main": [
        [
          {
            "node": "ExchangeExistCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindStock": {
      "main": [
        [
          {
            "node": "MergeRequestAndExistingStock",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ExchangeExistCheck": {
      "main": [
        [
          {
            "node": "InsertNewExchange",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateExistingExchangeData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateExistingExchangeData": {
      "main": [
        [
          {
            "node": "FindAndUpdateExistingExchange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateExistingStockData": {
      "main": [
        [
          {
            "node": "FindAndUpdateExistingStock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditExchangeListRequest": {
      "main": [
        [
          {
            "node": "FindAndPaginateExchanges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindAndPaginateExchanges": {
      "main": [
        [
          {
            "node": "ProduceExchangeListResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindAndPaginateStocks": {
      "main": [
        [
          {
            "node": "ProduceStockListResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindExchange": {
      "main": [
        [
          {
            "node": "MergeRequestAndExistingExchange",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FindAndUpdateExistingExchange": {
      "main": [
        [
          {
            "node": "ProduceExchangeResponseData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertNewExchange": {
      "main": [
        [
          {
            "node": "ProduceExchangeResponseData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProduceExchangeResponseData": {
      "main": [
        []
      ]
    },
    "CheckExchange": {
      "main": [
        [
          {
            "node": "MergeExchangeAndStockRequest",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MergeExchangeAndStockRequest": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "FindStock",
            "type": "main",
            "index": 0
          },
          {
            "node": "RemoveExchangeData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ProduceExchangeDoesNotExistErrorResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProduceExchangeDoesNotExistErrorResponse": {
      "main": [
        [
          {
            "node": "ExchangeDoesNotExistErrorResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProduceStockResponse": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModifyStockRequest": {
      "main": [
        [
          {
            "node": "CheckExchange",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeExchangeAndStockRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveExchangeData": {
      "main": [
        [
          {
            "node": "MergeRequestAndExistingStock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProduceStockListResponse": {
      "main": [
        [
          {
            "node": "ListStockResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc3fe467-2c74-446d-bdc9-14e038ea7780",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e93d45f73c88484e7d121a11c2577cb019f170b96dff9097e489d66e2228704e"
  },
  "id": "EWLXXhFJAUSq6E2C",
  "tags": []
}